PORT=5000
MONGODB_URI='mongodb+srv://Olas-13:Y35R4dysEzSU6zq7@cluster0.6xyca.mongodb.net/Authentication?retryWrites=true&w=majority'
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# Gmail SMTP (use App Password if 2FA enabled)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_gmail@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_FROM=UniSchedule <your_gmail@gmail.com>

CLIENT_URL=http://localhost:5173
NODE_ENV=development
